<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.tplus.gwland.uss.service.mapper">

	
	<!-- 고객목록 -->
	<select id="list" resultType="com.tplus.gwland.uss.service.Client">
	 select
	  cli_num, cli_id, name, gender, phone_num, reg_date
	 from Client.Client
	</select>
</mapper>
